<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">TechOps</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/member_search">Member Search</a></li>
      <li><a href="/deleted-users-search">Deleted Users</a></li>
      <li><a href="/future">Future Projects</a></li>
    </ul>
  </div>
</nav>

<h1 style="text-align: center;">Atrium Backlog Report</h1>

<form class="backlog-search-form" action="/backlog-results" method="get">
  <label for="agent">Select the Queue to Query</label>
  <select name="agent">
    <option selected value="Aarron Rasmussen">Aarron</option>
    <option value="Steven Fogamomi">Steven</option>
    <option value="Ward Streicher">Ward</option>
    <option value="Luiggi Puertas">Luiggi</option>
    <option value="Hawkes Poulter">Hawkes</option>
    <option value="Dallin Hyde">Dallin</option>
  </select>

  <button class="btn waves-effect waves-light" type="submit" name="action" onclick="showLoader()">Run Query
    <i class="material-icons right">cloud</i>
  </button>
</form>
