<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">TechOps</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/member_search">Member Search</a></li>
      <li><a href="/deleted-users-search">Deleted Users</a></li>
      <li><a href="/future">Future Projects</a></li>
    </ul>
  </div>
</nav>


<h1 style="text-align: center;">Client Queue Member Search Results</h1>


Count of tickets processed: <%= @open.count %>

<hr>
<br>

<form class="export-csv" action="/csv" method="get">
  <button class="btn waves-effect waves-light" type="submit" name="action">Export As CSV[disabled]
  <i class="material-icons right">send</i>
  </button>
</form>

<br>
<hr>


<table style="width:100%" class="highlight">
  <thead>
    <tr>
      <th style="text-align: center;" >Ticket ID</th>
      <th style="text-align: center;" >Subject</th>
      <th style="text-align: center;" >Organization</th>
      <th style="text-align: center;" >User GUID</th>
    </tr>
  </thead>
  <tbody>
    <% @open.each do |ticket| %>
    <tr>
      <td style="text-align: center;" ><a target="_blank" href="https://moneydesktop.zendesk.com/agent/tickets/<%= ticket[:id] %>"><%= ticket[:id] %></a></td>
      <td style="text-align: center;" ><%= ticket[:subject] %></td>
      <td style="text-align: center;" ><%= ticket[:org_name] %></td>
      <td style="text-align: center;" ><a target="_blank" href="https://batcave.prod.internal.mx/users/<%= ticket[:user_guid] %>"><%= ticket[:user_guid] %></a>
        <hr>

        <% ticket[:mbr_list].each do |member| %>
        <table class="memberinfobox striped" style="width:40%; text-align:right;">
          <thead>
            <tr>
              <th>Member</th>
              <th>Status</th>
              <th>Last Job Status</th>
              <th>Last Job Message</th>
              <th>Last Job Protocol</th>
            </tr>
          </thead>
          <tbody>
            <td style="text-align: center;" ><a target="_blank" href="https://batcave.prod.internal.mx/members?search_string=<%= member[:guid] %>"><%= member[:guid] %></a></td>
            <td style="text-align: center;" ><%= member[:status] %></td>
            <td style="text-align: center;" ><%= member[:job_status] %></td>
            <td style="text-align: center;" ><%= member[:job_message] %></td>
            <td style="text-align: center;" ><%= member[:job_protocol] %></td>
          </tr>
          </tbody>
          <tr>
        </table>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>
