<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">TechOps</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/member_search">Member Search</a></li>
      <li><a href="/deleted-users-search">Deleted Users</a></li>
      <li><a href="/future">Future Projects</a></li>
    </ul>
  </div>
</nav>


<h1 style="text-align: center;">Client Search Results</h1>


Count of tickets processed: <%= @open.count %>

<hr>
<br>

<form class="export-csv" action="/csv" method="get">
  <button class="btn waves-effect waves-light" type="submit" name="action">Export As CSV
  <i class="material-icons right">send</i>
  </button>
</form>

<br>
<hr>


<table style="width:100%" class="highlight">

  <tr>
    <th style="text-align: center;" >Ticket ID</th>
    <th style="text-align: center;" >Subject</th>
    <th style="text-align: center;" >Organization</th>
    <th style="text-align: center;" >Member GUID</th>
    <th style="text-align: center;" >Status</th>
    <th style="text-align: center;" >Connection Status</th>
    <th style="text-align: center;" >Job Count</th>
    <th style="text-align: center;" >Job Message</th>
    <th style="text-align: center;" >Job Protocol</th>
  </tr>

  <% @open.each do |ticket| %>
  <tr>
    <td style="text-align: center;" ><a target="_blank" href="https://moneydesktop.zendesk.com/agent/tickets/<%= ticket[:id] %>"><%= ticket[:id] %></a></td>
    <td style="text-align: center;" ><%= ticket[:subject] %></td>
    <td style="text-align: center;" ><%= ticket[:org_name] %></td>
    <!-- <td style="text-align: center;" ><a target="_blank" href="https://batcave.prod.internal.mx/users/<%= ticket[:usr] %>"><%= ticket[:usr] %></a></td> -->
    <td style="text-align: center;" ><a target="_blank" href="https://batcave.prod.internal.mx/members?search_string=<%= ticket[:mbr_guid] %>"><%= ticket[:mbr_guid] %></a></td>
    <td style="text-align: center;" ><%= ticket[:status] %></td>
    <td style="text-align: center;" ><%= ticket[:job_status] %></td>
    <td style="text-align: center;" ><%= ticket[:job_count] %></td>
    <td style="text-align: center;" ><%= ticket[:job_message] %></td>
    <td style="text-align: center;" ><%= ticket[:job_protocol] %></td>
  </tr>
  <% end %>

</table>
