<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">TechOps</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/member_search">Member Search</a></li>
      <li><a href="/future">Future Projects</a></li>
    </ul>
  </div>
</nav>


<h1 style="text-align: center;">Member Search Results</h1>


Count of tickets processed: <%= @open.count %>

<hr>
<br>

<form class="export-csv" action="/csv" method="get">
  <button class="btn waves-effect waves-light" type="submit" name="action">Export As CSV
  <i class="material-icons right">send</i>
  </button>
</form>

<br>
<hr>


<table style="width:100%" class="highlight">

  <tr>
    <th style="text-align: center;" >Ticket ID</th>
    <th style="text-align: center;" >Subject</th>
    <th style="text-align: center;" >Member Guid</th>
    <th style="text-align: center;" >Organization</th>
    <th style="text-align: center;" >Member Deleted?</th>
    <th style="text-align: center;" >User Deleted?</th>

  </tr>

  <% @open.each do |ticket| %>
  <tr>
    <td style="text-align: center;" ><a target="_blank" href="https://moneydesktop.zendesk.com/agent/tickets/<%= ticket[:id] %>"><%= ticket[:id] %></a></td>
    <td style="text-align: center;" ><%= ticket[:subject] %></td>
    <td style="text-align: center;" ><a target="_blank" href="https://batcave.prod.internal.mx/members?search_string=<%= ticket[:mbr] %>"><%= ticket[:mbr] %></a></td>
    <td style="text-align: center;" ><%= ticket[:org_name] %></td>
    <td style="text-align: center;" ><%= ticket[:member_is_deleted] %></td>
    <td style="text-align: center;" ><%= ticket[:user_is_deleted] %></td>

  </tr>
  <% end %>

</table>
