<h1>ElasticSearch Test</h1>

Input guid: <%= @input_guid  %>
<hr>
Message: <%= @message %>
<hr>
Protocol: <%= @protocol %>
<hr>
Job Type: <%= @job_type %>
<hr>
Platform: <%= @test %>
<hr>
GUID: <%= @thing %>
<hr>
