<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">TechOps</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/member_search">Member Search</a></li>
      <li class="active"><a href="/deleted-users-search">Deleted Users</a></li>
      <li><a href="/future">Future Projects</a></li>
    </ul>
  </div>
</nav>

<h1>Fix Member Search Results</h1>

<p>Here are the results.</p>
