<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">TechOps</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/member_search">Member Search</a></li>
      <li class="active"><a href="/deleted-users-search">Deleted Users</a></li>
      <li><a href="/future">Future Projects</a></li>
    </ul>
  </div>
</nav>



<h1>Fix Member Tickets Search</h1>

<p>Lets search for fixed member tickets!</p>


<table style="width:100%" class="highlight">

  <tr>
    <th style="text-align: center;" >Ticket ID</th>
    <th style="text-align: center;" >Deleted?</th>
    <th style="text-align: center;" >MBR</th>
    <th style="text-align: center;" >Status</th>

  </tr>

  <% @open.each do |ticket| %>
  <tr>
    <td style="text-align: center;" ><a target="_blank" href="https://moneydesktop.zendesk.com/agent/tickets/<%= ticket[:id] %>"><%= ticket[:id] %></a></td>
    <td style="text-align: center;" ><%= ticket[:deleted] %></td>
    <td style="text-align: center;" ><a target="_blank" href="https://batcave.prod.internal.mx/members?search_string=<%= ticket[:mbr] %>"><%= ticket[:mbr] %></a></td>
    <td style="text-align: center;" ><%= ticket[:status] %></td>
  </tr>
  <% end %>

  <form class="close-tickets" action="/close-tickets" method="get">
    <input type="hidden" name="open" value='<%= @pass %>' >
    <button class="btn waves-effect waves-light" type="submit" name="action">Close Tickets?
    <i class="material-icons right">send</i>
    </button>
  </form>

</table>
