<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">TechOps</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/member_search">Member Search</a></li>
      <li class="active"><a href="/future">Future Projects</a></li>
    </ul>
  </div>
</nav>


<h1>Future Projects</h1>

<h3>This whole page is a placeholder for a place to link a future project.</h3>


Testing 1 2 3 [<%= @queue %>]
