<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">TechOps</a>
    <ul class="left hide-on-med-and-down">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/member_search">Member Search</a></li>
      <li><a href="/deleted-users-search">Deleted Users</a></li>
      <li><a href="/future">Future Projects</a></li>
    </ul>
  </div>
</nav>

<h1>Home Page</h1>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Client Queue Member Statuses</span>
        <p>Gets the list of members and their statuses per client queue ticket, using the user guid.

      </div>
      <div class="card-action">
        <a href="/client-member">Client Queue Member Statuses</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Deleted Users+Members</span>
        <p>This is a placeholder for some future project.

      </div>
      <div class="card-action">
        <a href="/deleted-users-search">Deleted Users</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Member Search</span>
        <p>So far we just have this one tool, and it is still a work in progress. If you have any ideas for further functionality we urge you to learn to code and do it yourself.</p>
      </div>
      <div class="card-action">
        <a href="/member_search">Member Search</a>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Ticket Nuke</span>
        <p>Select and destroy fix member connection queue tickets.</p>
      </div>
      <div class="card-action">
        <a href="/nuke">Nuke</a>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Add User Count to Platform Support Tickets</span>
        <p>View open widespread agg tickets and add a count of users per institution to the zendesk field.</p>
      </div>
      <div class="card-action">
        <a href="/impacted-users-search">Impacted Users Search</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Atrium Backlog Search</span>
        <p>Provides a members status report for Atrium backlogs, per agent.</p>
      </div>
      <div class="card-action">
        <a href="/backlog-search">Backlogs</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Client Connection Search</span>
        <p>Provides a list of client queue tickets with New status and their connection status</p>
      </div>
      <div class="card-action">
        <a href="/client_search">Client Search</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Finicity Atrium Search</span>
        <p>A list of tickets that have been escalated to Finicity in the Atrium queue.</p>
      </div>
      <div class="card-action">
        <a href="/finicity_search">Finicity Search</a>
      </div>
    </div>
  </div>
</div>
