<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">TechOps</a>
    <ul class="left hide-on-med-and-down">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/member_search">Member Search</a></li>
      <li><a href="/deleted-users-search">Deleted Users</a></li>
      <li><a href="/future">Future Projects</a></li>
    </ul>
  </div>
</nav>

<h1>Widespread Agg Impacted Users Update</h1>

<h4>We should automate this and set it on a cron.</h4>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Add User Count to Platform Support Tickets</span>
        <p>View open widespread agg tickets and add a count of users per institution to the zendesk field.</p>
      </div>
      <div class="card-action">
        <a href="/impacted_users_search">Impacted Users Search</a>
      </div>
    </div>
  </div>
</div>
