<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">TechOps</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/member_search">Member Search</a></li>
      <li><a href="/deleted-users-search">Deleted Users</a></li>
      <li><a href="/future">Future Projects</a></li>
    </ul>
  </div>
</nav>


<h1 style="text-align: center;">Impacted Users List</h1>

<h4 style="text-align: center;">Gets the count of impacted users for widespread agg tickets, so that they can be organized from highest to lowest in Zendesk.</h4>

<hr>
<br>

<form class="export-csv" action="/csv" method="get">
  <button class="btn waves-effect waves-light" type="submit" name="action">Export As CSV
  <i class="material-icons right">send</i>
  </button>
</form>

<br>
<hr>

<form class="hydraupdate" action="/impacted-users-update" method="get">
  <input type="hidden" name="open" value='<%= @pass %>' >
  <button class="btn waves-effect waves-light" type="submit" name="action">Add User Count?
  <i class="material-icons right">send</i>
  </button>
</form>

<br>
<hr>


<table style="width:100%" class="highlight">

  <tr>
    <th style="text-align: center;" >Ticket ID</th>
    <th style="text-align: center;" >Subject</th>
    <th style="text-align: center;" >User Count</th>
  </tr>

  <% @open.each do |ticket| %>
  <tr>
    <td style="text-align: center;" ><a target="_blank" href="https://moneydesktop.zendesk.com/agent/tickets/<%= ticket[:id] %>"><%= ticket[:id] %></a></td>
    <td style="text-align: center;" ><%= ticket[:subject] %></td>
    <td style="text-align: center;" ><%= ticket[:org_name] %></td>
    <td style="text-align: center;" ><%= ticket[:user_count] %></td>
  </tr>
  <% end %>

</table>
