<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">TechOps</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/member_search">Member Search</a></li>
      <li><a href="/deleted-users-search">Deleted Users</a></li>
      <li><a href="/future">Future Projects</a></li>
    </ul>
  </div>
</nav>

<h1 style="text-align: center;">Member Search Page</h1>

<form class="member-search-form" action="/member_search_results" method="get">
  <label for="group">Select the Queue to Query</label>
  <select name="group">
    <option selected value="End-User Support">End-User Support</option>
    <option value="Client Support">Client Support</option>
    <option value="Atrium">Atrium</option>
  </select>

  <button class="btn waves-effect waves-light" type="submit" name="action" onclick="showLoader()">Run Query
    <i class="material-icons right">cloud</i>
  </button>
</form>
