This is the first ticket:
<br>

Ticket ID : <%= @ticket_id %>
<br>
Ticket Subject: <%= @ticket_subject %>
<br>
Ticket URL: <%= @ticket_url %>
<br>

List of found GUIDs:
<br>
<% @guid_list.each do |guid| %>

<%= guid %>
<br>

<% end %>


Ticket comments:
<br>
<% @ticket_comments.each do |comment| %>

<%= comment %>
<br>

<% end %>
